@import "variables";
@import "modifiers";
@import "elements";

#app {
  @import "loader";
  
  .flex-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  h1 {
    color: $darker-grey;
    font-size: 1.5rem;
  }
  h2 {
    color: rgba($darker-grey, 0.9);
    font-size: 1rem;
  }

  nav {
    background-color: $dark-grey;
    height: 1rem;
    padding: 2rem;

    a {
      color: $lighter-grey;
      margin-right: 1rem;
      text-decoration: none;
      text-transform: uppercase;
      font-weight: bold;
    }
  }

  .container {
    flex-grow: 1;

    .card {
      margin: 1rem;
      padding: 2rem;
      box-shadow: 2px 2px 2px #BBB;
      border: 1px solid #EEE;
    }

    .m-t-sm {
      margin-top: 1rem;
    }
  }

  footer {
    height: 1rem;
    padding: 1rem;
    background: #333;
    color: $lighter-grey;

    span {
      float: left;
    }
    a {
      float: right;
      color: $light-grey;
    }
  }
}